* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Itim', cursive;
    text-align: center;
    margin: 20px;
    background-color: #000000; 
}


.main-background {
    background-color: #86d1bb; 
    height: 100vh;
    padding-top: 1px;
}


.Title {
    color: #f82e2e; 
    text-align: center;
    font-size: 40px;
    margin-top: 0%;
}


.PlayerNames {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label {
    color: #4a4a4a; 
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #4a4a4a; 
    border-radius: 4px;
    font-size: 16px;
}


#confirmNames {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f28b82; 
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#confirmNames:hover {
    background-color: #ec6a5c; 
}


.Display {
    color: #4a4a4a; 
    font-size: 25px;
    margin-top: 1em;
    margin-bottom: 1em;
}


.Tayl {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px; 
    max-width: 300px;
}


.box {
    border: 1px solid #4a4a4a;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    background-color: #b45f5f; 
}


.playerX {
    color: #78fbaf; 
}

.playerO {
    color: #829cf2; 
}


.winner {
    color: #5cec9d; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #4a4a4a; 
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    display: none;
    margin-top: 20px;
}


.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}


#Restart {
    color: #4a4a4a; 
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #4a4a4a;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
    background-color: #f28b82; 
    transition: background-color 0.3s ease;
}

#Restart:hover {
    background-color: #ec6a5c;
}
